---
import Layout from '../layouts/Layout.astro';
import TransactionStats from '../components/TransactionStats.svelte';
---

<Layout title="Kasku - Statistics">
  <main class="min-h-screen p-8">
    <TransactionStats client:load />
  </main>
</Layout>
