---
import Layout from '../layouts/Layout.astro';
import TransactionCrud from '../components/TransactionCrud.svelte';
---

<Layout title="ID Flow - Transaction Management">
  <main class="min-h-screen p-8">
    <TransactionCrud client:load />
  </main>
</Layout>
